{% extends "base.html" %}
{%block content%}
<div class='col-sm-12 col-12'>
    {% if error %}
    <div class="col-sm-3 col-lg col-md-3 col-xl" style="padding-top:20px">
        <div class="alert alert-danger" role="alert">
            Login Credentials don't match.
        </div>
    </div>
    {% endif %}
<form method = 'POST'>{% csrf_token %}
{{ form }} <br/>
<button type="submit" class="btn btn-primary"> Submit </button>
</form>
{%endblock content%}