{%extends "base.html"%}
{%block content%}
<div class="container">
    <h1> Register </h1>
    <div class="row">
        <div class='col-sm-12 col-12'>
            <form method = 'POST' class="form">{% csrf_token %}
                {{ form }} <br/>
                <button type="submit" class="btn btn-primary"> Submit </button>
            </form>
        </div>
    </div>
</div>
{%endblock%}