{% extends "base.html" %}
{% block content %}
<div class="container">
    {% if not billing_profile %}
        <div class="row text-center">
            <div class="col-12 col-md-6 my-3">
                <p class="lead">Login </p>
                {% include "auth/snippets/form.html" with form=form next=request.build_absolute_uri %}
            </div>
            <div class="col-12 col-md-6 my-3">
                <p class="lead"> Continue as guest </p>
                {% url "guest_login" as action_url %} {% include "auth/snippets/form.html" with form=guest_form next=request.build_absolute_uri action_url=action_url %}
            </div>
        </div>
    {% else %} 
        {% if not order.shipping_address %}
        <div class="col-12">
        <p class="lead"> Shipping Address </p>
        <hr>
        <div class="row">
            <div class="col-6">
                {% url "checkout_address_view" as action_url %} {% include "addresses/form.html" with form=address_form next=request.build_absolute_uri action_url=action_url address_type='shipping' %}
            </div>
            <div class="col-6">
                {% url 'checkout_address_reuse_view' as action_url %}
                {% include "addresses/previous_addresses.html" with address_qs=address_qs next=request.build_absolute_uri action_url=action_url address_type='shipping'%}
            </div>
        </div>
    </div>

        {% elif not order.billing_address %}
        <div class="col-12">
            <p class="lead"> Billing Address </p>
            <hr>
            <div class="row">
                <div class="col-6">
                    {% url "checkout_address_view" as action_url %} {% include "addresses/form.html" with form=address_form next=request.build_absolute_uri action_url=action_url address_type='billing' %}
                </div>
                <div class="col-6">
                    {% url 'checkout_address_reuse_view' as action_url %}
                    {% include "addresses/previous_addresses.html" with address_qs=address_qs next=request.build_absolute_uri action_url=action_url address_type='billing'%}
                </div>
            </div>
        </div>
        {% else %}
            {% if not has_card %}
                <!-- enter credit card -->
                <div class="stripe-payment-form" data-btn-title='Add New Payment Method' data-token={{publish_key}} data-next-url={{request.build_absolute_uri}}>
            {% else %}
                <h1 class='display-1 text-center'> Finalize Checkout</h1>
                {% if request.user.is_authenticated %}
                    <h4 class="display-4">
                    Hello,{%if billing_profile.user.fullname %}{{billing_profile.user.fullname}}{%else%}{{billing_profile.user.email}}{% endif %}</h4>
                    <br>
                {% else %}
                    <h4 class="display-4">Hello, {{billing_profile}}</h4><br>
                {% endif %}
                <p class="lead"> <b>Shipping Address:</b> {{ order.shipping_address.get_address }} </p>
                <p class="lead"> <b>Billing Address:</b> {{ order.billing_address.get_address }} </p>
                <p class="lead">
                    <b>Cart Items:</b>
                    {% for item in cart.products.all %}
                        {{ item }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="lead"> <b> Product Total: </b> {{order.cart.total}} </p>
                <p class="lead"> <b> Shipping Total:</b>{{order.shipping_total}} </p>
                <p class="lead"> <b>Order Total: </b>{{order.total}} </p>
                <p class="lead"> 
                <b>Payment Method:</b> {{billing_profile.default_card}}
                (<a href="{{billing_profile.get_payment_method_url}}?next='{{request.build_absolute_uri}}'">Change</a>)
                </p>
                <form action="" class="form" method="POST">
                    {% csrf_token %}
                    <button class="btn float-left btn-success "> Checkout </button>
                </form>
            {% endif %}
        {% endif %} 
    {% endif %}
</div>
{% endblock content %}