{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1 class='display-3'>Cart</h1>
  </div>

  <div class="container">
    {%if cart.products.exists%}
  <table class="table table-responsive-lg table-responsive-md table-responsive-sm cart-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Remove?</th>
      </tr>
    </thead>
    <tbody class="cart-body">
        {% for product in cart.products.all %}
          <tr class="cart-product">
            <th scope="row">{{forloop.counter}}</th>
            <td><a href={{product.get_absolute_url}}>{{product}}</a></td>
            <td>{{product.price}}</td>
            <td>{%include "carts/snippets/remove-product.html" with product_id=product.id%}<br></td>
          </tr>
        {% endfor %}
      <tr>
        <th></th>
        <th></th>
        <th colspan="3">
          <p class="text-right" style="padding-right: 250px;">Subtotal:
            $<span class="cart-subtotal"> {{cart.subtotal}} </span>
          </p>
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th colspan="3">
          <p class="text-right" style="padding-right: 250px;">Total:
            $<span class="cart-total"> {{cart.total}} </span>
          </p>
        </th>
      </tr>
      <tr>
        <th colspan="3">
          <p class="text-right" style="padding-right: auto;">
            <a href="{% url 'cart:checkout' %}">
              <button class="btn btn-success float-right">
                Checkout
              </button>
            </a>
          </p>
        </th>
      </tr>
    </tbody>
  </table>
<div class="cart-item-remove-form" style="display:none">
  {% include "carts/snippets/remove-product.html" %}
</div>
  {% else %}
  <p class="lead"> Cart is empty </p>
  {% endif %}
  </div>
{% endblock content %}
