{% verbatim %}
	<script id="stripeTemplate" type="text/x-jsrender">
		<form class="form payment-form" id="payment-form" data-token={{:publishKey}}
			data-next-url={{:nextUrl}}>
			<div class="form-row">
			<label for="card-element">
			  <p class="lead" style="margin: 0;padding: 0">Credit or debit card</p>
			</label>
			<div id="card-element" class="form-control">
			  <!-- A Stripe Element will be inserted here. -->
			</div>

			<!-- Used to display Element errors. -->
			<div id="card-errors" role="alert"></div>
			</div>
		  	<button class="btn btn-success my-2 btn-load">{{:btnTitle}}</button>
		</form>
	</script>
{% endverbatim %}