{% url 'about' as about %}
{% url 'contact' as contact %}
{% url 'products:list' as productsurl %}
{% url 'logout' as logout %}
{% url 'register' as register %}
{% url 'cart:home' as cart %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'img/cart.png' %}" height="50" class="d-inline-block align-center" alt="" loading="lazy" style='padding-right:10px'>
    eCommerce
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% comment %} <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li> {% endcomment %}
      <li class="nav-item {%if request.path == about%}active{%endif%}">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
      </li>
      <li class="nav-item {%if request.path == contact%}active{%endif%}">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item {%if request.path == productsurl %}active{%endif%}">
        <a class="nav-link" href="{% url 'products:list' %}">Products</a>
      </li>
      {%if not request.user.is_authenticated%}
      <li class="nav-item {%if request.path == login%}active{%endif%}">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item {%if request.path == register%}active{%endif%}">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
      </li>
      {% else %}
      <li class="nav-item {%if request.path == logout%}active{%endif%}">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {%endif%}
      <li class="nav-item {%if request.path == cart%}active{%endif%}">
        <a class="nav-link" href="{% url 'cart:home' %}">
          <i class="fas fa-shopping-cart" area-hidden=True></i>
          <span class="navbar_item_count">
          {{ request.session.cart_items }}</a>
          </span>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
    {% include 'search/snippets/search-form.html' %}
  </div>
</nav>
