<form class="form my-2 my-lg-0 form-product-ajax" method="post" action="{% url 'cart:update' %}" data-endpoint='{% url 'cart:update' %}'>
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
      <span class="submit-span">
      {%if object in cart.products.all%}
          <button class="btn btn-danger" type="submit">Remove</button>
      {% else %}
          <button class="btn btn-success" type="submit">Add to Cart</button>
      {% endif %}
      </span>
</form>
