<div class="card" style="height:400px;width:300px">
  {% if instance.image %}
  <img src="{{instance.image.url}}" class="card-img-top" height=200px width=200px>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{instance.title}}</h5>
    <p class="card-text">{{instance.description|truncatewords:5}}</p>
      <a href="{{object.get_absolute_url}}" class="btn btn-primary mr-auto">View</a>
  </div>
</div>
