{%extends "base.html"%}
{%load static%}
{%block content%}
<div class="container">
  <div class="row mb-3 mt-3 ">
    <div class="col-12 md-6">
      {% if request.GET.q %}
        Results for: <strong><u>{{request.GET.q}}</u></strong>
      {% else %}
    </div>
      <div class="col-12 md-6 py-2 px-2">
        {% include 'search/snippets/search-form.html' %}<br>
        <h1>Featured Products</h1>
      </div><br>
      {% endif %}
      {% if not object_list %}
        <div class="my-3" align='center'>
          <p class='lead'>
            <div class="alert alert-danger">
              No results for {{ request.GET.q }} found
            </div>
          </p>
        </div>
      {% endif %}

  </div>
  <div class="row">
    <div class="card-deck">
        {% for object in object_list %}
        <div>
          {% include "products/snippets/card.html" with instance=object%}<br>
          <hr>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{%endblock%}
