<form class="form my-2 my-lg-0 form-product-ajax" method="post" action="{% url 'cart:update' %}" data-endpoint='{% url 'cart:update' %}'>
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product_id }}" class="cart-item-product-id">
        <button class="btn btn-danger" type="submit">Remove</button>
</form>
