<div class="container my-3">
<form method='POST' action="{%if action_url %} {{action_url}} {% else %} {% url 'login' %} {% endif %}">
    {% csrf_token %}
    {% if next %}
    <input type="hidden" name='next' value='{{ next }}'>
    {% endif %}
        <input type="hidden" name='address_type' value='{{address_type}}'>
    {{ form.as_p }} <br />
    <input type="hidden" name='cart_items' value={{cart.products.all}}>
    <button type="submit" class="btn btn-primary"> Submit </button>
</form>
</div>