 <div class="col-6">
        <form action="{%if action_url %} {{action_url}} {% else %} {% url 'login' %} {% endif %}" method="POST">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name='next' value='{{ next }}'>
            {% endif %}
            {% if address_type %}
                <input type="hidden" name='address_type' value='{{address_type}}'>
            {% endif %}
            {% for address in address_qs %}
            <label for='address-{{ address.id }}'>
                <input type="radio" id='address-{{ address.id }}' name='shipping_address' value="{{address.id}}"/>
                {{address.address_line_1}}
            </label>
            <br> {% endfor %}
            {% if request.user.is_authenticated %}
            {% if address_qs.count > 0 %}
            <button type='submit' class="btn btn-success">Use Address</button>
            {% endif %}
            {% endif %}
        </form>
    </div>