<form class="form my-2 my-lg-0 search-form" method="get" action="{% url 'search:query' %}">
    <div class="input-group">
        <input aria-label="Search"
               class="form-control mr-sm-1"
               name='q'
               placeholder="Search Products"
               type="search"
               value="{{request.GET.q}}"
               autocomplete="off" />
        <span class="input-group-btn disabled">
            <button class="btn btn-success" type="submit">Search</button>
        </span>
    </div>
</form>
