{%extends "base.html"%}
{% load static %}
{%block content %}
<div class='text-center'>
  <u><h1 class="display-2">Contact Page</h1></u>
</div>
<div class="container">
  <div class="row">
    <div class='col-sm-12 col-12 col-md-6 mx-auto'>
      <p> {{ content }} </p>
      <form method = 'POST' action="{% url 'contact' %}" class="contact-form">{% csrf_token %}
        {{ form }} <br>
        <button type="submit" class="btn btn-danger"> Submit </button>
      </form>
      </div>
  </div>
</div>
{%endblock%}
