<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include "base/css.html"%}
    {%include "base/js.html"%}
    {%include "base/js_templates.html"%}
    {% include "base/navbar.html" with brand_name='Ecommerce' %}
    <title></title>
  </head>

  <body>
    {%block content%}
    {%endblock%}
    {%block js%}
    {%endblock%}
  </body>
</html>
