{%extends "base.html"%}
{% load static %}

{%block content %}
  <div class='text-center'>
    <h1 class="display">{{title}}</h1>
    <h1 class = 'display'>Hello, world! We're working</h1>
  </div>
  <div class="container">
    <div class="row">
      <img src = '{% static "img/7MileBeach-2013-HiRes.jpg" %}' height="25%" width="50%"/> <br>
    </div>
      <p>{{content}}</p>
    {% if request.user.is_authenticated %}
        <h1 class="display">Premium Users</h1>
    {% endif %}
  </div>
{%endblock%}
