{% extends 'base.html' %}
{% block content %}
	<!-- Stripe Form -->
	<div class="container-fluid">
		<div class="col-10 col-md-6 mx-auto my-auto">
			{% csrf_token %}
			<h1 class="display-3"> Add Payment Method</h1>
			<div class="stripe-payment-form" data-btn-title='Add New Payment Method' data-token={{publish_key}} data-next-url={% if next_url %}{{next_url}}{% endif %}>
				<!-- Stripe Form Div-->
			</div>
		</div>
	</div>
{% endblock content %}