{%extends "base.html"%}
{% load static %}
{%block content%}
<div class="container">
  <h1 class="display-3">{{object.title}}</h1>
  <p class="lead"> Updated {{object.timestamp | timesince}} ago </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="{{object.image.url}}" class="img-left img-fluid" alt="error">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      {%include "products/snippets/addtocart.html" with product=object cart=cart%}<br>
    </div>
  </div>

    <div class="row">
      <p class='lead'>{{object.description}}</p><br>
    </div>
    <div class="row">
      <p class='lead'>₹{{object.price}}</p>
    </div>
</div>
{%endblock%}
