{%extends "base.html"%}
{%load static%}
{%block content%}
<div class="container">
  <h1 class="display-3">Our Products</h1>
  <p class="lead">The finest products by the finest companies at the cheapest rate. What else do you need?</p>
</div>
<div class="container">
  <div class="card-deck">
    <div class="row">
      {% for object in object_list %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        {% include "products/snippets/card.html" with instance=object%}<br>
        <hr>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%endblock%}
